* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 222, 245);
  background-image: url('/image/cardking.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 80%;
  height: 100%;
  position: relative;
}

.header-login {
  align-items: center;
  background-color: blueviolet;
  color: #dfaf67;
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-bottom: 20px;
  height: 90px;
  text-align: center;
}

.logo {
  margin-bottom: 10px;
  max-height: 110px;
}

.titulo-login {
  color: #dfaf67;
  font-size: 45px;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.cadastro-login {
  background-color: #d4aae8;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.1);
  display: flex;
  margin: 0 10px 27px;
  padding: 20px;
  width: 200px;
}

.cadastro-login label, .cadastro-login input {
  margin-bottom: 5px;
  width: 100%;
}

.cadastro-login input[type="submit"] {
  width: auto;
}

input[type="submit"] {
  background-color: blueviolet;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
}

input[type="submit"]:hover {
  background: #763c91;
}

.banner {
  display: block;
  margin: 0 auto;
  max-width: 740px;
}

.footer-login {
  align-items: center;
  background-color: blueviolet;
  color: #dfaf67;
  display: flex;
  font-size: 25px;
  height: 60px;
  justify-content: center;
  line-height 50px;
  margin-top: 67px;
  text-align: center;
  width: 100%;
}